@import url('https://fonts.googleapis.com/css2?family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');

body {
  margin: 0;
  font-family: "yrsa", Source Sans Pro, serif;
  color: #444444;
}

a:link {
  color: #444444;
  text-decoration: none; 
}

a:visited {
  color: #444444;
}

a:hover {
  color: #868686;
  
}

a:active {
  color: #868686;
}

iframe {
  border: none;
  overflow: hidden;
}

/* ID Styles */


/* Class Styles */

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f2;
}

.page-title {
  margin-right: 40px;
  display: inline-block;
  font-size: 40px;
  line-height: 40px;
  color: #444444;
}

.logo {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-transform: none;
  color: #444444
}

.project {
  margin-right: 30px;
  text-align: center;
  font-size: 28px;
  line-height: 28px;
}

.details {
  font-size: 20px;
  line-height: 28px;
  margin-top: 10px;
}

.title {
  font-size: 24px;
  font-synthesis-weight: 28px;
  padding-bottom: 20px;
}
.project_title {
  font-size: 60px;
  font-synthesis-weight: 70px;
  padding-bottom: 20px;
}

.date {
  color: #bbbbbb;
  font-size: 16px;
  line-height: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.desc {
  font-size: 20px;
  font-synthesis-weight: 28px;
  padding-bottom: 20px;
}